@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dark-02{
    color: #424242;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-03{
    color: #727272;
}
/* shared styles */
.hide{
    display: none;
}
.display-flex{
    display: flex;
}
button{
    margin-top: 1%;
    width: 150px;
    height: 64px;
    border-radius: 8px;
    background-color: #FF900E;
    color: white;
    font-size: 20px;
    padding: 10px;
}
/* header styles */
/*navbar styles */
.navbar{
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-links{
    align-items: center;
}
.nav-links a{
    text-decoration: none;
}

/* banner */
.banner{
    text-align: center;
    padding:5%;
}
.banner h1{
    margin: 0;
    font-size: 64px;
}
.banner-image{
    padding-top: 5%;
    width: 100%;
    height: auto;
}
/* main */
/* features */
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10%;
}
.square-image-collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10%;
}
/* facts */
.facts{
    padding: 5%;
}
.fact-cards{
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.fact-card{
    width: 250px;
    height: 250px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* footer */
.sponsors{
    text-align: center;
}
.sponsor-images{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5%;
}
.copy-right{
    padding: 0.01% 5% 0;
    color: white;
}
.copy-right p{
    text-align: center;
    padding: 2%;
    background-color: #FFF4E7;
}
/* media query */
@media screen and (max-width: 576px){
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .banner{
        word-break: break-all;
    }
    .banner h1{
        font-size: 36px;
    }
    .features{
        display: flex;
        flex-direction: column;
    }
    .square-image-collage{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10%;
    }
}
@media screen and (min-width: 576px) and (max-width: 996px){
    .square-image-collage{
        padding: 5%;
    }
}
